@media only screen and (max-width:991px){

    .w-15,
    .w-25,
    .w-40,
    .w-50{
        width: 100%;
    }

    .filters-container{
        .filters-form{
            flex-direction: column;
            .filters-column{
                max-width: 100%;
                padding: 0;

                h4,
                .rating-wrap,
                .category-list,
                .cuisine-list{
                    padding: 0 12px;
                }
            }
        }
    }

    .noUi-target.noUi-horizontal {
        width: 95%;
        margin: 30px auto 40px;
    }

    .container{
        flex-direction: column;
    }

    .sidebar{
        width: 100%;
    }

    .restaurant-container{
        padding: 20px;
        width: auto;
        .restaurant-wrap{
            flex-direction: column;

            h3{
                font-size: 19px;
            }

            .restaurant-image-wrap,
            .restaurant-meta{
                padding: 0;
                width: 100%;
            }
        }   
    } 
}