body {
  background-color: #f1f1f1;
}

img {
  max-width: 100%;
}

.bg-light {
  background-color: #f1f1f1;
}

.bg-grey {
  background-color: #e5e5e5;
}

.bg-white {
  background-color: #fff;
}

.container {
  display: block;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.filters-container {
  padding: 20px 0;
}
.filters-container .filters-form {
  display: flex;
  justify-content: space-between;
}
.filters-container .filters-form .filters-column {
  width: 33%;
  padding: 0 28px;
}
.filters-container .filters-form .filters-column h4 {
  text-align: left;
}
.filters-container .filters-form .cuisine-list label,
.filters-container .filters-form .category-list label {
  user-select: none;
  display: block;
  text-align: left;
}
.filters-container .filters-form .category-list {
  column-count: 2;
}
.filters-container .filters-form .cuisine-list {
  column-count: 2;
}

.restaurant-container {
  width: 70%;
  padding: 50px;
}
.restaurant-container .restaurant-wrap {
  display: flex;
  text-align: left;
}
.restaurant-container .restaurant-wrap h1, .restaurant-container .restaurant-wrap p {
  margin: 0;
}
.restaurant-container .restaurant-wrap h4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
}
.restaurant-container .restaurant-wrap h3 {
  margin-top: 0;
  font-weight: 400;
}
.restaurant-container .restaurant-wrap .icon-holder {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.restaurant-container .restaurant-wrap .icon-holder img {
  max-width: 30px;
}
.restaurant-container .restaurant-wrap .icon-holder:last-of-type {
  margin-top: 0;
  margin-bottom: 15px;
}
.restaurant-container .restaurant-wrap .restaurant-image-wrap {
  width: 40%;
}
.restaurant-container .restaurant-wrap .restaurant-meta {
  padding: 0 22px;
  width: 60%;
}

.sidebar {
  max-width: 100%;
  width: 367px;
  min-height: 400px;
  height: calc(100vh - 232px);
  overflow-y: scroll;
}
.sidebar h5, .sidebar button {
  text-align: left;
  padding-left: 50px;
}
.sidebar .restaurant-list {
  list-style: none;
  padding-inline-start: 0;
}
.sidebar .restaurant-list button {
  font-size: 18px;
  display: block;
  width: 100%;
  padding-top: 7px;
  padding-bottom: 7px;
  border: none;
  background: none;
  border-top: 1px solid #ccc;
}
.sidebar .restaurant-list button:focus {
  outline: none;
  color: #fff;
  background-color: #50bebf;
}

.noUi-target {
  margin: 30px 0 40px;
}
.noUi-target:last-child {
  margin-bottom: 0;
}
.noUi-target.noUi-horizontal {
  height: 13px;
  background: #f1f1f1;
  border: none;
}
.noUi-target.noUi-horizontal .noUi-connect {
  background: #50bebf;
}
.noUi-target.noUi-horizontal .noUi-tooltip {
  bottom: -38px;
  font-size: 12px;
  border: none;
}
.noUi-target.noUi-horizontal .noUi-handle {
  border: 2px solid #50bebf;
  border-radius: 50%;
  height: 22px;
  width: 22px;
  top: -5px;
}
.noUi-target.noUi-horizontal .noUi-handle, .noUi-target.noUi-horizontal .noUi-handle .noUi-touch-area {
  outline: none;
}
.noUi-target.noUi-horizontal .noUi-handle:before, .noUi-target.noUi-horizontal .noUi-handle:after {
  display: none;
}

/*# sourceMappingURL=styles.css.map */
