body {
  background-color: #f1f1f1;
}

img {
  max-width: 100%;
}

h1, h4 {
  color: #373737;
}

h3, h5 {
  color: #4e5456;
}

h4 {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
  font-size: 14px;
}

label {
  margin-bottom: 8px;
  position: relative;
  padding-left: 20px;
}
label input[type=checkbox] {
  opacity: 0;
  position: absolute;
}
label .checkbox-marker {
  position: absolute;
  top: 4px;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #e5e5e5;
}
label input:checked ~ .checkbox-marker:after {
  content: "";
  display: block;
  position: absolute;
  border: 1px solid #bf5050;
  left: 5px;
  top: 1px;
  width: 4px;
  height: 8px;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.text-light {
  color: #727678;
}

.bg-light {
  background-color: #f1f1f1;
}

.bg-grey {
  background-color: #e5e5e5;
}

.bg-white {
  background-color: #fff;
}

.container {
  display: block;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

.mx-auto {
  margin: 0 auto;
}

.mr-auto {
  margin-right: auto;
}

.ml-auto {
  margin-left: auto;
}

.w-15 {
  width: 15%;
}

.w-25 {
  width: 25%;
}

.w-40 {
  width: 40%;
}

.w-50 {
  width: 50%;
}

.d-flex {
  display: flex;
}

.filters-container {
  padding: 20px 0;
}
.filters-container .filters-form {
  display: flex;
  justify-content: space-between;
}
.filters-container .filters-form .filters-column {
  padding: 0 28px;
}
.filters-container .filters-form .filters-column h4 {
  text-align: left;
  margin-bottom: 5px;
}
.filters-container .filters-form .filters-column .rating-wrap {
  position: relative;
}
.filters-container .filters-form .filters-column .rating-wrap .slider-label {
  position: absolute;
  top: 20px;
  font-size: 14px;
}
.filters-container .filters-form .filters-column .rating-wrap .slider-label.left {
  left: 0;
}
.filters-container .filters-form .filters-column .rating-wrap .slider-label.right {
  right: 0;
}
.filters-container .filters-form .cuisine-list label,
.filters-container .filters-form .category-list label {
  user-select: none;
  display: block;
  text-align: left;
}
.filters-container .filters-form .category-list {
  column-count: 1;
}
.filters-container .filters-form .cuisine-list {
  margin-bottom: 8px;
  column-count: 3;
}

.restaurant-container {
  width: 70%;
  padding: 50px;
}
.restaurant-container .restaurant-wrap {
  display: flex;
  text-align: left;
}
.restaurant-container .restaurant-wrap h1, .restaurant-container .restaurant-wrap p {
  margin: 0;
}
.restaurant-container .restaurant-wrap h3 {
  margin-top: 0;
  font-weight: 400;
  font-size: 24px;
}
.restaurant-container .restaurant-wrap .icon-holder {
  display: flex;
  align-items: center;
  margin-top: 25px;
  font-size: 17px;
}
.restaurant-container .restaurant-wrap .icon-holder img {
  max-width: 30px;
}
.restaurant-container .restaurant-wrap .icon-holder:last-of-type {
  margin-top: 0;
  margin-bottom: 25px;
}
.restaurant-container .restaurant-wrap .restaurant-image-wrap {
  width: 40%;
}
.restaurant-container .restaurant-wrap .restaurant-meta {
  padding: 0 22px;
  width: 50%;
}

.sidebar {
  max-width: 100%;
  width: 350px;
  min-height: 400px;
  height: calc(100vh - 232px);
  overflow-y: scroll;
}
.sidebar h5, .sidebar button {
  text-align: left;
  padding-left: 50px;
}
.sidebar h5 {
  margin: 0;
  padding: 18px 18px 0px 50px;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.sidebar .restaurant-list {
  list-style: none;
  padding-inline-start: 0;
}
.sidebar .restaurant-list button {
  font-size: 18px;
  display: block;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  background: none;
  border-top: 1px solid #ccc;
}
.sidebar .restaurant-list button:focus {
  outline: none;
  color: #fff;
  background-color: #50bebf;
}

.noUi-target {
  margin: 15px 0 40px;
}
.noUi-target.noUi-horizontal {
  height: 13px;
  background: #f1f1f1;
  border: none;
}
.noUi-target.noUi-horizontal .noUi-connect {
  background: #50bebf;
}
.noUi-target.noUi-horizontal .noUi-tooltip {
  bottom: -38px;
  font-size: 12px;
  border: none;
}
.noUi-target.noUi-horizontal .noUi-handle {
  border: 2px solid #50bebf;
  border-radius: 50%;
  height: 22px;
  width: 22px;
  top: -5px;
  right: -10px;
}
.noUi-target.noUi-horizontal .noUi-handle, .noUi-target.noUi-horizontal .noUi-handle .noUi-touch-area {
  outline: none;
}
.noUi-target.noUi-horizontal .noUi-handle:before, .noUi-target.noUi-horizontal .noUi-handle:after {
  display: none;
}

/*# sourceMappingURL=styles.css.map */
